<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/group.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>

<body style="overflow:hidden;">
    <div style="overflow:auto; position:absolute; top: 0; left:0; right:0; bottom:0">
        
        <%- include ../partials/navbar.ejs %>
        <div class="col-md-12">
            <input type="hidden" id="name-user" value="<%= user.username %>">
            <input type="hidden" id="name-image" value="<%= user.userImage %>">
            <div class="col-md-12">
                <div class="chat_container">
                    <div class="row">
                        <div class="col-sm-4 col-md-3 mob-clearfix">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="card-container">
                                        <div class="card">
                                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#userprofile" style="color:#fff;background-color:#1f2833;border-color:#1f2833; width: 100%; text-align: left; font-size:150%;">
                                                <img src="/uploads/<%= user.userImage %>" class="img-circles" alt="">
                                                &nbsp; &nbsp; &nbsp; <%= _.upperFirst(user.username) %>
                                            </button>
                                            <div id="userprofile" class="collapse">
                                                <div class="front">
                                                    <div class="cover"></div>
                                                    <div class="user cover-img">
                                                        <img src="/uploads/<%= user.userImage %>" class="img-circle" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <div class="main">
                                                            <h3 class="name"><%= _.upperFirst(user.username) %></h3>
                                                        </div>
                                                        <div class="footer">
                                                            <i class="fa fa-mail-forward"></i> 
                                                            <a href="/settings/profile" style="text-decoration: none; color: #1f2833;">
                                                                View Profile
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-12">
                                    <div class="card-container">
                                        <div class="card">
                                            <div class="front">
                                                <div class="new_message_head">
                                                    <div class="pull-left">
                                                        <button class="Product_fans" style="width:100%;">
                                                            <%= productName %> Issues
                                                        </button>
                                                    </div>
                                                    <div class="pull-right"></div>
                                                </div>
                                                <div id="mydiv1" class="chat_area" style="background-color: #fff;">
                                                    <ul id ="issues" class="list-unstyled">
                                                        <% _.forEach(productIssue, function(val) { %>
                                                            <% if(productName === val.product) { %>
                                                                <%st=val.issue.replace(/ /g,"`7`")%>
                                                                <a href='/product/issues/<%=val.product%>*<%=val.issue.replace(/ /g,"`7`")%>'>
                                                                    <li class="left" >
                                                                        <span class="chat-img1 pull-left">
                                                                            <img src="/uploads/<%= val.victimImage %>" class="img-circle" alt="">
                                                                        </span>
                                                                        <div class="chat-body1" >
                                                                            <span class="chat-name">
                                                                                <%= val.victimName %>
                                                                            </span>
                                                                            <br>
                                                                            <%= val.issue %>
                                                                        </div>
                                                                    </li>
                                                                    <br>
                                                                </a>
                                                        <% }}) %>
                                                    </ul>
                                                    <script id="issue-template" type="text/template">
                                                        <a href='/product/issues/<%= productName %>*{{text}}'>
                                                            <li class="left">
                                                                <span class="chat-img1 pull-left">
                                                                    <img src="/uploads/{{userImage}}"  class="img-circle" alt="">
                                                                </span>
                                                                <div class="chat-body1">
                                                                    <span class="chat-name">
                                                                        {{sender}}
                                                                    </span>
                                                                    <br>
                                                                    {{text}}
                                                                </div>
                                                            </li>
                                                        </a>
                                                        <br>
                                                    </script>
                                                </div>
                                                <div class="message_write">
                                                    <form action="#" id="issue-form" method="post">
                                                        <textarea class="form-control" name="issue" id="iss" placeholder="Type a new issue"></textarea>
                                                        <div class="clearfix"></div>
                                                        <div class="chat_bottom">
                                                            <button id="send-issue" class="pull-right btn btn-primary" style="background: #1f2833; border: #1f2833;border-radius: 50%; ">
                                                                    <span class="glyphicon fa fa-paper-plane nav-glyphicon" style="color: rgb(255, 255, 255);"></span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-6 message_section">
                            <div class="row">
                                <div class="new_message_head">
                                    <div class="pull-left">
                                        <button class="Product_name">
                                            <%= productName %>
                                        </button>
                                    </div>
                                </div>
                                <div>
                                    <table style="border: 2px solid rgb(75, 71, 71);">
                                        <tr>
                                            <td>
                                                <img style="display:block;  max-width:100%; height: 100%; border: 2px solid rgb(75, 71, 71);" src="/uploads/<%= productName %>.jpg"/>
                                            </td>
                                            <td>
                                                <img style="display:block; max-width:100%; height: 100%; border: 2px solid rgb(75, 71, 71);" src="/uploads/<%= productName %>1.jpg"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <img style="display:block; max-width:100%; height: 100%; border: 2px solid rgb(75, 71, 71);" src="/uploads/<%= productName %>2.jpg"/>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 mob-clearfix">
                            <div class="row">
                                <div class="new_message_head">
                                    <div class="pull-left">
                                        <button class="Product_name">
                                            Reviews
                                        </button>
                                    </div>
                                    <div class="pull-right"></div>
                                </div>
                                <div id="mydiv2" class="chat_area">
                                    <ul id ="messages" class="list-unstyled">
                                        <% _.forEach(productReview, function(val) { %>
                                            <% if(productName === val.name) { %>
                                                <li class="left">
                                                    <span class="chat-img1 pull-left">
                                                        <img src="/uploads/<%= val.sender.userImage %>" class="img-circle" alt="">
                                                    </span>
                                                    <div class="chat-body1">
                                                        <span class="chat-name">
                                                            <%= val.sender.username %>
                                                        </span>
                                                        <br>
                                                        <%= val.message %>
                                                    </div>
                                                </li>
                                        <% }}) %>
                                    </ul>
                                    <script id="message-template" type="text/template">
                                        <li class="left">
                                            <span class="chat-img1 pull-left">
                                                <img src="/uploads/{{userImage}}" class="img-circle" alt="">
                                            </span>
                                            <div class="chat-body1">
                                                <span class="chat-name">
                                                    {{sender}}
                                                </span>
                                                <br>
                                                {{text}}
                                            </div>
                                        </li>
                                    </script>
                                </div>
                                <div class="message_write">
                                    <form action="#" id="message-form" method="post">
                                        <input type="hidden" name="productName" id="productName" value= "<%= productName %>">
                                        <input type="hidden" id="sender" value="<%= user.username %>">
                                        <textarea class="form-control" name="message" id="msg" placeholder="Type a message"></textarea>
                                        <div class="clearfix"></div>
                                        <div class="chat_bottom">
                                            <button id="send-message" class="pull-right btn btn-primary" style="background: #1f2833; border: #1f2833;border-radius: 50%; ">
                                                    <span class="glyphicon fa fa-paper-plane nav-glyphicon" style="color: rgb(255, 255, 255);"></span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/product/productchat.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/deparam.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.min.js"></script>
</body>
</html>